.main{
  display: flex;
  justify-content: center;
  text-align:center;
}

.box{
  border: 10px solid black;
  width: 500px;

}

.item-img{
  width: 400px;
}

.win{
  border: 10px solid green;
  color: green
}

.lose{
  border: 10px solid red;
  color: red
}

.tie{
  border: 10px solid black;
  color: black
}