.project{}
.readonly{
  position: absolute;
  left: -999999px;
  top: -999999px;
  font-size:1px;
  width:1px;
  height:1px;
}

.tit-lv1{
  font-size: 40px;
  text-align:center;
}

.tit-lv2{
  font-size: 32px;
  text-align:center;
}

.score-wrapper{
  display: flex;
  justify-content: center;
}

.score-box{
  width: 50%;
}

.score-tit{
  display: block;
  text-align: center;
  font-size: 24px;
}

.score-point{
  display: block;
  text-align: center;
  font-size: 48px;
}

.select-wrapper{
  display: flex;
  justify-content: center;
}

.select-box{
  width: 50%
}

.select-tit{
  display: block;
  text-align: center;
  font-size: 24px;
}

.select-result{
  display: block;
  text-align: center;
  font-size: 48px;
}

.select-thumb{
  width: 100%;
}

.select-thumbImg{
  width: 100%;
  max-width: 600px;
}

.play-wrapper{
  display: flex;
  justify-content: center;
}

.play-btn{
  width: 96px;
  height: 96px;
  font-size: 56px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.table-recoards{
  width: 100%;
  text-align: center;
  border-bottom:1px solid #ddd;
  border-spacing: 0px;
  border-collapse:separate;
}

.table-recoards th,
.table-recoards td{
  padding: 16px;
  border-style:solid;
  border-color: #ddd;
  border-width: 1px 0 0 0;
}

